<!DOCTYPE html>
<html>
  <head>
    <title>hummingbeard</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" src="../../bower_components/materialize/css/ghpages-materialize.css">

    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../bower_components/reflux/dist/reflux.min.js"></script>
    <script type="text/javascript" src="../js/react-with-addons.js"></script>
    <script type="text/javascript" src="../../bower_components/materialize/bin/materialize.js"></script>
   </head>
  <body style="overflow-x: hidden;">
    <div class="row">
      <div class="s11 col"><h3>People in this conversation</h3></div>
      <div class="s1 col" style="text-align:right;"><a href="#" class="btn-flat">&times;</a></div>
    </div>

    <div style="width:99%;position:relative;left:50%;margin-left:-49.5%;margin-bottom:26pt;">

      <div class="row" style="margin-bottom:40px;">
        <div class="s2 col" style="text-align:right;padding-right:5px;">
          <img src="http://placehold.it/80x80" style="display:inline-block;" />
          <h6>First and Last</h6>
        </div>
        <div class="s9 col card-panel z-depth-1">
          <ul style="list-style:none;margin:0;padding:0;">
            <li style="margin:0;"><p>Lorem ipsum, bitch!</p></li>
            <li style="margin:0;"><p>Some other line from a person you know</p></li>
          </ul>
          <small class="right">5 minutes ago</small>
        </div>
      </div>

      <div class="row">
       <div class="offset-s1 s9 col card-panel z-depth-1">
          <ul style="list-style:none;margin:0;padding:0;">
            <li style="margin:0;"><p>Lorem ipsum, bitch!</p></li>
            <li style="margin:0;"><p>Some other line from a person you know</p></li>
          </ul>
          <small class="right">5 minutes ago</small>
        </div>
        <div class="s2 col" style="padding-left:5px;">
          <img src="http://placehold.it/80x80" style="display:inline-block;" />
          <h6>First and Last</h6>
        </div>
       </div>


    </div>

    <textarea class="chat" placeholder="Your chat message here..."></textarea>
  </body>
</html>

