<!DOCTYPE html>
<html>
  <head>
    <title>hummingbeard</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" src="../../bower_components/materialize/css/ghpages-materialize.css">

    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../bower_components/reflux/dist/reflux.min.js"></script>
    <script type="text/javascript" src="../js/react-with-addons.js"></script>
    <script type="text/javascript" src="../../bower_components/materialize/bin/materialize.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

    <script type="text/javascript">
      var nwb_gui = require('nw.gui');
      var windows = [];
      var quit = function() {
        for(var i=0; i < windows.length; i++)
          windows[i].close();
        window.close();
      }
      var openDevTools = function() {
        nwb_gui.Window.get(window).showDevTools();
      }
      var openChild = function(url, opts) {
        var options = {
          position: 'center',
          show_in_taskbar: true,
          min_width: 200,
          min_height: 400,
          frame: false,
          toolbar: false
        }
        for( var opt in opts )
          options[opt] = opts[opt]
        wnd = nwb_gui.Window.open(url, options);
        windows.push( wnd );
        return wnd
      }
      $(document).ready(function(){
        $(".dropdown").dropdown({
          hover: true,
          orientation_x: 'right'
        });
      });
    </script>

   </head>
  <body>

    <div class="row">

      <div class="col s12 z-depth-1">
        <ul class="tabs">
          <li class="tab col s5"><a href="#contacts">Contacts</a></li>
          <li class="tab col s5"><a href="#conversations">Chats</a></li>
          <li class="col s2" style="float:left; padding:0; text-align: center;"><a href="#config">Config</a></li>
        </ul>
      </div>
      <div class="s12 col content" id="contacts"></div>
      <div class="s12 col content" id="conversations" style="display:none;"></div>

    </div>

  </body>
</html>
