<!DOCTYPE html>
<html>
  <head>
    <title>hummingbeard</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" src="../../bower_components/materialize/css/ghpages-materialize.css">

    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../bower_components/reflux/dist/reflux.min.js"></script>
    <script type="text/javascript" src="../js/react-with-addons.js"></script>
    <script type="text/javascript" src="../../bower_components/materialize/bin/materialize.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>

    <script type="text/javascript">
      var nwb_gui = require('nw.gui');
      var windows = [];
      var quit = function() {
        for(var i=0; i < windows.length; i++)
          windows[i].close();
        window.close();
      }
      var openDevTools = function() {
        nwb_gui.Window.get(window).showDevTools();
      }
      var openChild = function(url, opts) {
        var options = {
          position: 'center',
          show_in_taskbar: true,
          min_width: 200,
          min_height: 400,
          frame: false,
          toolbar: false
        }
        for( var opt in opts )
          options[opt] = opts[opt]
        wnd = nwb_gui.Window.open(url, options);
        windows.push( wnd );
        return wnd
      }
      $(document).ready(function(){
        $(".dropdown").dropdown({
          hover: true,
          orientation_x: 'right'
        });
      });
    </script>

   </head>
  <body>

    <div class="row">

      <div class="col s10">
        <ul class="tabs">
          <li class="tab col s5"><a href="#conversations">Contacts</a></li>
          <li class="tab col s5"><a href="#conversations">Chats</a></li>
          <!--<li class="tab col s3"><a href="#accounts">Accounts</a></li>-->
        </ul>
      </div>
      <div class="col s2">
        <button class="btn-flat dropdown" data-activates="other-settings"><i class="mdi-navigation-more-vert"></i></button>
        <ul id="other-settings" class="dropdown-content">
          <li><a href="#" onclick="return false;">Accounts</a></li>
          <li><a href="#" onclick="return false;">Settings</a></li>
          <li><a href="#" onclick="return false;">Console</a></li>
          <li><a href="#" onclick="quit(); return false;">Quit</a></li>
        </ul>
      </div>
      <div class="s12 col" id="contacts" style="display:block;"></div>

      <div id="conversations"></div>

    </div>

  </body>
</html>
